html {
	background: url('cool-background.jpg') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-attachment: fixed;
}

body {
	
	margin: 0;
}


a:link {
	text-decoration: none;
	color: #bfcfff;
}



a:visited {
	text-decoration: none;
	color: #bfcfff;
}

a:hover{
	text-decoration: none;
	color: yellow;
}
.navBar {
	width: 100%;
	height: 50px;
	background-color: black;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	position: fixed;
	top: 0;
}

.main {
	font-family: 'Lato', sans-serif;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	width: 500px;
	height: 90%;
	padding: 10px;
	margin-top: 2.5%;
	margin-left: 5%;
	
  

}

.main h1 {
	font-size: 4rem;
	font-weight: bold;
	font-family: Garamond;
}
.main h2 {
	font-weight: normal;
}
.mainImg {
	display: none;
}

.demog {
	width: 90%;
	margin: 0 5%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.demogItem {
	width: 100%;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;

}

.bullet {

	height: 30px;
	width: 30px;
}

.lighter{
	font-weight: 300;
}
.contact {
	display: inline-flex;
	justify-content: space-around;
}

.button {

	font-size: 1.5em;
	text-align: center;
	color: white;
	padding-right: 10px;
}

.pop:hover {

	color: yellow;
	
}


.transparent {
	background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 640px)
{
	html {
		background: #222222;
		overflow: visible;
	}
	.main{
		margin: 0 auto;		
		width: 90%;
		height: 100%;
		min-width: none;
		background-color: #222222;
	}
	.mainImg {
		display: inline-block;
		text-align: center;
	}
	.mainImg img {
		width: 90%;
		margin: 0 auto;
	}
	
}
